<!--左侧导航开始-->
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs" style="font-size:20px;">
                                <i class="fa fa-area-chart"></i>
                                <strong class="font-bold">后台管理</strong>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">后台
                </div>
            </li>
            <li>
                <a class="J_menuItem" href="{:url('admin/index/index')}">
                    <i class="fa fa-home"></i>
                    <span class="nav-label">主页</span>
                </a>
            </li>


<!--             <li>
                <a href="#">
                    <i class="fa fa-newspaper-o"></i>
                    <span class="nav-label">首页管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="{:url('admin/shouye/banneradd')}">首页图片添加</a>
                    </li>

                </ul>
            </li> -->

            <li>
                <a href="#">
                    <i class="fa fa-newspaper-o"></i>
                    <span class="nav-label">文章管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="{:url('admin/news/cate')}">分类管理</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="{:url('admin/news/lst')}">文章管理</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="{:url('admin/baike/lst')}">百科列表</a>
                    </li>

                    <li>
                        <a class="J_menuItem" href="{:url('admin/baike/add')}">百科添加</a>
                    </li>

                    <li>
                        <a class="J_menuItem" href="{:url('admin/wenda/lst')}">问答列表</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="{:url('admin/wenda/add')}">问答添加</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span class="nav-label">会员管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="{:url('admin/member/lst')}">会员列表</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="{:url('admin/member/clearimg')}">清除无效图片</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span class="nav-label">管理员管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="{:url('admin/auth/lst')}">权限管理</a>
                    </li>

                    <li>
                        <a class="J_menuItem" href="{:url('admin/group/lst')}">组管理</a>
                    </li>

                    <li>
                        <a class="J_menuItem" href="{:url('admin/admin/lst')}">管理员列表</a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="">清除无效图片</a>
                    </li>
                </ul>
            </li>


          <li>
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span class="nav-label">分类与关键词管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" href="{:url('admin/cate/add')}">分类添加</a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
</nav>
<!--左侧导航结束-->
