{extend name="base"/}
{block name="header"}

{__block__}


{/block}

{block name="main"}



<script src="__INDEX__/bozhong/js/swiper.jquery.js"></script>


  <div class="bz-body">
    <div class="bz-body__tips">
    <ul class="bz-body__aside" data-action="aside-tabs">
      <li class="nav-li nav-li__count-3">
      <div class="nav-li--icon nav-li--icon-1 "><em></em></div>
      <div class="nav-li--mask"></div>
      <div class="nav-li__content">
        <p class="nav-li__content--title" style="font-weight: bold;">天宝备孕</p>
        <div class="nav-li__content__subtitle">
        <span>备孕资讯</span><span>备孕百科</span><span>备孕问答</span>
        </div>
      </div>




      <div class="sort-tabs sort-tabs__fkzr" data-aside-table="">
                <div class="sort-tabs__left" style="margin-right: 30px;">
        

       
          <div class="sort-tabs__block-tips blineb">
            <p> 备孕资讯</p>
            <a target="_blank" href="#"> 资讯频道<span>&gt;</span></a>
          </div>

          <div class="sort-tabs__block-content">
              {volist name="first_fenlei" id="vo2"}
            <a target="_blank" href="{:url('news/newsdetails',array('id'=>$vo2.id))}">{$vo2.keywords}</a>
             {/volist}
          </div>
         
          <div class="sort-tabs__block-tips blineb">
            <p> 备孕百科</p>
            <a target="_blank" href="#"> 百科频道<span>&gt;</span></a>
          </div>

          <div class="sort-tabs__block-content">
              {volist name="first_fenlei" id="vo2"}
            <a target="_blank" href="{:url('news/newsdetails',array('id'=>$vo2.id))}">{$vo2.keywords}</a>
             {/volist}
          </div>


              <div class="sort-tabs__block-tips blineb">
            <p> <i id="xx">备孕</i>问答</p>
            <a target="_blank" href="#"> 问答频道<span>&gt;</span></a>
          </div>

          <div class="sort-tabs__block-content">
             {volist name="wenda_fenlei2" id="vo2"}
            <a target="_blank" href="{:url('wenda/wendadetails',array('id'=>$vo2.id))}">{$vo2.keywords_w}</a>
             {/volist}
          </div>      


        </div>
      </div>
    </li>







      <li class="nav-li nav-li__count-3">
      <div class="nav-li--icon nav-li--icon-2"><em></em></div>
      <div class="nav-li--mask"></div>
      <div class="nav-li__content">
        <p class="nav-li__content--title">天宝试管</p>
        <div class="nav-li__content__subtitle">
         <span>试管资讯</span><span>试管百科</span><span>试管问答</span>
        </div>
      </div>
      <div class="sort-tabs sort-tabs__shiguan">
                <div class="sort-tabs__left" style="margin-right: 30px;">


{volist name="cate_list" id="vo1"}
          <div class="sort-tabs__block-tips blineb">
            <p> {$vo1.name}</p>
            <a target="_blank" href="{:url('news/newsdetails',array('id'=>$vo1.id))}"> {$vo1.name}频道<span>&gt;</span></a>
          </div>
          <div class="sort-tabs__block-content">
              {volist name="vo1['children']" id="vo2"}

            <a target="_blank" href="https://bbs.bozhong.com/forum-25-1.html">{$vo2.name}</a>
             {/volist}
          </div>
                {/volist}



        </div>
      </div></li>
                  <li class="nav-li nav-li__count-3">
      <div class="nav-li--icon nav-li--icon-4"><em></em></div>
      <div class="nav-li--mask"></div>
      <div class="nav-li__content">
        <p class="nav-li__content--title">天宝怀孕</p>
        <div class="nav-li__content__subtitle">
            <span>怀孕资讯</span><span>怀孕百科</span><span>怀孕问答</span>
        </div>
      </div>
      <div class="sort-tabs sort-tabs__yunji">
                <div class="sort-tabs__left" style="margin-right: 30px;">




{volist name="cate_list" id="vo1"}
          <div class="sort-tabs__block-tips blineb">
            <p> {$vo1.name}</p>
            <a target="_blank" href="https://bbs.bozhong.com/"> {$vo1.name}频道<span>&gt;</span></a>
          </div>
          <div class="sort-tabs__block-content">
              {volist name="vo1['children']" id="vo2"}

            <a target="_blank" href="https://bbs.bozhong.com/forum-25-1.html">{$vo2.name}</a>
             {/volist}
          </div>
                {/volist}



















    </ul>
    <div class="bz-body__tips__right">
      <div class="bz-body__tips-ad">

<div id="fragment" class="example"  style="height: inherit;"></div>















  <!--解决DIY关闭被左侧浮层庶挡问题-->
    <style>#samplepanel .y{position: relative;right: 300px;}</style>  

   </div>
      <div class="bz-body__tips-daoxi">
      <div data-cms-block="336">
  <!-- ^{WWW_天天喜事_2016}^ -->
  <div class="w-happy">    <div class="w-happy-item w-happy-app">
      <a href="https://crazy.bozhong.com/" target="_blank" class="w-happy-app-fkzr" alt="备孕怀孕助手">
          <div class="happy-app-bg"></div>
          <span>昨天<em class="downloadPerson" data-num="2162">2,162</em>人怀孕</span>
      </a>
      <a href="#/app/yunji?from=www" target="_blank" class="w-happy-app-yunji" alt="备孕怀孕助手">
          <div class="happy-app-bg"></div>
          <span>昨天<em class="downloadPerson" data-num="1962">1,962</em>人生娃</span>
      </a>
    </div>
    <div class="w-happy-item w-happy-preg">


    </div>


  </div>
</div>      </div>
    </div>
    </div>
    <div>
    
    </div>
  </div>



<div class="w-box clearfix">
    <!-- 天天喜事 -->
    
    <!-- /天天喜事 -->
    <div class="box-items" style="overflow: hidden;">
        <!-- 备孕BOX -->
        <div class="box-wrap prepare-box" id="prepare-box">
            <div class="box-header box-header-beiyun">
                <h2 class="h3_beiyun">备孕</h2>
                <ul class="box-header-nav div-1180">
                    <li><a href="#" target="_blank" data-follow="">资讯</a>/</li>
                    <li><a href="#" target="_blank" data-follow="">百科</a>/</li>
                    <li><a href="#" target="_blank" data-follow="">问答</a></li>
                </ul>

            </div>
            <div class="box-body clearfix">
                <!-- 推荐帖子 -->
                <div class="box-content">
                    <div class="box-silder">
                        <ul style="width: 279px;">
                                                  <li class="box-s-li">
            <a href="#" target="_blank" data-follow="#"><img class="lazy loaded" data-original="" src="__INDEX__/bozhong/images/41b3a046c92d3a29e0bb566f6ae518ed401807.jpg"></a>
            <div class="box-s-mask"></div>
            <p class="box-s-p">
            <a href="#" class="limit" data-limit="55" target="_blank" data-follow="#" title="#">2020年10月14号要抽血开</a>
        </p>
        </li>
                                </ul>
                        <div class="box-s-dot">
                        </div>
                    </div>
                    <div class="topic-items">
                            <div class="topic-item topic-item-top div-1180">

        <div class="text">
            <h1><a class="topic-item-link" href="https://bbs.bozhong.com/thread-42851748-1-1.html" target="_blank" data-follow="www首页-备孕-头条" title="末次9月21号,排卵日10月6号，有一样的姐妹么，坐等开奖">末次9月21号,排卵日10月6号，有一样的姐妹么，坐等开奖</a></h1>
        <p class="summary summary-em">
            <a href="javascript:void(0);" class="limit" data-limit="120" data-limit-short="76" data-follow="www首页-备孕-头条" data-alt="10月6号监测已排卵，有相同排卵日的姐妹么，大家的末次是几号啊？一起坐等开奖">10月6号监测已排卵，有相同排卵日的姐妹么，大家的末次是几号啊？一起坐等开奖</a>
        </p>
    </div>
    </div>
                            <div class="change-box">
                            <ul class="topic-items-list clearfix">








                               {volist name="first_fenlei" id="vo4"} 
                                  <li class="topic-item">
                                     <div class="topic-item-line"></div>

                                      <div class="topic-item-content">
                                          <p class="sub-content"><span> {$vo4.title}</span></p>
                                       <a class="topic-item-link" href="{:url('news/newsdetails',array('id'=>$vo4.id))}" target="_blank" data-follow="{$vo4.title}" title="{$vo4.title}">

                                       {$vo4.content}

                                       </a>
                                     </div>
                                  </li>

                                  {/volist}







                                    </ul>
                        </div>
                      
                    </div>
                </div>
                <!-- /推荐帖子 -->
            </div>
        </div>
        <!-- /备孕BOX -->
    
        <!-- 播种福利 -->
        <div class="fuli-box" data-sid="33">
            
      <div class="fuli-box__container">
                <div class="fuli-box__item">
                      <a href="#" target="_blank" data-track="OOXX/182/9722">
              <img style="border:0 none" src="__INDEX__/bozhong/images/2ee79a7811510219f115b15cc171562f194642.jpg" alt="锦瑞医疗中心">
            </a>
                    </div>
                <div class="fuli-box__item">
                      <a href="#" target="_blank" data-track="OOXX/182/9163">
              <img style="border:0 none" src="__INDEX__/bozhong/images/1ef8e6ab5dd382c97017add795fc51fe693419.jpg" alt="西囡全年投放">
            </a>
                    </div>
            </div>
      <div class="fuli-box__container  prev-count-2">                <div class="fuli-box__item"><a href="#" target="_blank"><img src="__INDEX__/bozhong/images/ea68c3f2c5ef74513d5f5998acbf7cdf593062.jpg"></a></div>
                        </div>
        </div>
        
        
        
        
                
          <div class="box-wrap strategyn-box shiguan-box">
            <div class="box-header box-header-strategyn">

                <h2>试管</h2>
                <ul class="box-header-nav div-1180">
                    <li><a href="#" target="_blank" data-follow="#">资讯</a>/</li>
                    <li><a href="#" target="_blank" data-follow="#">百科</a>/</li>
                    <li><a href="#" target="_blank" data-follow="#">问答</a></li>
                </ul>
            </div>



            <div class="box-body clearfix">
                <div class="box-content" style="display: block;">
                    <div class="box-silder">
                        <ul style="width: 279px;">
                                                  <li class="box-s-li">
            <a href="#" target="_blank" data-follow="#"><img class="lazy loaded" data-original="" src="__INDEX__/bozhong/images/41b3a046c92d3a29e0bb566f6ae518ed401807.jpg"></a>
            <div class="box-s-mask"></div>
            <p class="box-s-p">
            <a href="https://bbs.bozhong.com/thread-42860014-1-1.html" class="limit" data-limit="55" target="_blank" data-follow="www首页-试管社区-图文" title="2020年10月14号要抽血开">2020年10月14号要抽血开</a>
        </p>
        </li>
                                </ul>
                        <div class="box-s-dot">
                        </div>
                    </div>
                    <div class="topic-items">
                            <div class="topic-item topic-item-top div-1180">
        <img class="lazy topic-item-avatar loaded" data-original="https://scdn.bozhong.com/source/resource/img/noavatar_middle.gif" alt="" src="images/noavatar_middle.gif">
        <div class="text">
            <h1><a class="topic-item-link" href="https://bbs.bozhong.com/thread-42860014-1-1.html" target="_blank" data-follow="www首页-试管社区-头条" title="2020年10月14号要抽血开">2020年10月14号要抽血开</a></h1>
        <p class="summary summary-em">
            <a href="javascript:void(0);" class="limit" data-limit="120" data-limit-short="76" data-follow="www首页-试管社区-头条" data-alt="2020年10月14号要抽血开奖了，突然很想写点什么来说说这三年经历的试管之路。三年中很波折，也遇到过很多很多小姐姐，很多时候嘴...">2020年10月14号要抽血开奖了，突然很想写点什么来说说这三年经历的试管之路。三年中很波折，也遇到过很多很多小姐姐，很多时候嘴...</a>
        </p>
    </div>
    </div>
                            <div class="change-box">

                        </div>
                       
                    </div>
                </div>

         
       
                <div class="box-content">
                    <div class="box-silder">
                        <ul style="width: 279px;">
                                                  <li class="box-s-li">
            <a href="https://bbs.bozhong.com/thread-42498485-1-1.html" target="_blank" data-follow="www首页-不明原因-图文"><img class="lazy loaded" data-original="https://image.seedit.com/sys/2020/06/18/a25dd1d1c09e8aedb58c40fa6f8d2f1e389081.jpg" src="images/a25dd1d1c09e8aedb58c40fa6f8d2f1e389081.jpg"></a>
            <div class="box-s-mask"></div>
            <p class="box-s-p">
            <a href="https://bbs.bozhong.com/thread-42498485-1-1.html" class="limit" data-limit="55" target="_blank" data-follow="www首页-不明原因-图文" title="试管取卵11次，移植7次，终于如愿以偿成为妈妈。">试管取卵11次，移植7次，终于如愿以偿成为妈妈。</a>
        </p>
        </li>
                                </ul>
                        <div class="box-s-dot">
                        </div>
                    </div>
                    <div class="topic-items">
                            <div class="topic-item topic-item-top div-1180">
        <img class="lazy topic-item-avatar" data-original="https://uc.bozhong.com/data/avatar/041/58/77/39_avatar_middle.jpg" alt="" src="images/39_avatar_middle.jpg">
        <div class="text">
            <h1><a class="topic-item-link" href="https://bbs.bozhong.com/thread-42853665-1-1.html" target="_blank" data-follow="www首页-不明原因-头条" title="我试管失败了，移植33天才出胎">我试管失败了，移植33天才出胎</a></h1>
        <p class="summary summary-em">
            <a href="javascript:void(0);" class="limit" data-limit="120" data-limit-short="76" data-follow="www首页-不明原因-头条" data-alt="我试管失败了，移植33天才出胎心胎芽，胎心152，HCG六万，结果移植46天的时候发现胚芽不长，胎心微弱，卵黄囊7.2，医生说没有多大...">我试管失败了，移植33天才出胎心胎芽，胎心152，HCG六万，结果移植46天的时候发现胚芽不长，胎心微弱，卵黄囊7.2，医生说没有多大...</a>
        </p>
    </div>
    </div>
                            <div class="change-box">

                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
        <!--/试管婴儿BOX-->
        <!-- 生殖中心大全 -->
        <div class="box-wrap hospital-box">
            <div class="box-header box-header-hospital">
                <h3 class="h3_like">百科大全</h3>
                <div class="box-header-more box-header-more--hospital">
                  <a href="https://bbs.bozhong.com/hospital/" target="_blank" rel="nofollow">
                    全部</a>
                </div>
            </div>
            <div class="box-body like-box-body">
                <div class="box-position">
              
                </div>
                <!-- 推荐帖子 -->
                <div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 305px;">
                  <div class="box-content"  style="width: 415%; position: relative; transition-duration: 0.5s; transform: translate3d(-882px, 0px, 0px);">

                    <ul class="topic-items bx-clone" style="float: left; list-style: none; position: relative; width: 294px;">
                    <li> <a href="https://bbs.bozhong.com/hospital/4218" target="_blank" data-follow="#" title="">中信湘雅生殖与遗传专科医院</a></li>
                    <li><a href="https://bbs.bozhong.com/hospital/4218" target="_blank" data-follow="#" title="">中信湘雅生殖与遗传专科医院</a></li>
                  </ul>

                </div>
              </div>

            </div>
            </div>
        </div>
        <!-- /生殖中心大全-->
                        
        
        

       




<script type="text/javascript">

$(document).ready(function(){
    $(window).scroll(function() {
        if($(window).scrollTop()>250){
            $(".bz-header__common").css('display','block');
            $(".bz-header__www").css('display','none');
        } else {
            $(".bz-header__common").css('display','none');
            $(".bz-header__www").css('display','block');
      
        }
    });



$(".nav-li__count-3").hover(function(){

$(this).addClass('active');
$(this).siblings.removeClass('active');


},function(){
$(this).removeClass('active');
});



    $('table tr:odd').css('background', '#dfdfdf')
    scr = [
        '__INDEX__/bozhong/images/99.png',
        '__INDEX__/bozhong/images/111.png',
        '__INDEX__/bozhong/images/333.png'
    ]

    $('#fragment').swiper({
       type: 'scrollX',
        src: scr,
        speed: 400,
        indicator: true,
  
    })


});
   

</script>
<!--  <script src="__INDEX__/bozhong/js/jquery1.9.0.min.js"></script>
<script>
  $(document).ready(function(){
          var zzz= $("#xx").text();
               $.ajax({
                data:zzz,
                type:"post",
                url:"{:url('Index/index/index')}",
                success:function(data){
                
                },
                error:function(data){
                  alert('2');
                }
               })
});
</script>  -->

</body>
</html>

{/block}