


<script src="__INDEX__/static/xyw/js/hm.js"></script><script type="text/javascript" src="js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="__INDEX__/static/xyw/js/common.js"></script>
<script type="text/javascript" src="__INDEX__/static/xyw/js/index.js"></script>

<div class="header-nav-warp-v1">
  <div class="header-nav-width-ctrl">
    <div class="header-nav clearfix">
      <h1> <a href="{:url('index/index/index')}"> <img class="header-nav-logo" src="__INDEX__/static/xyw/images/logo.png" alt="相因 - 全维度试管婴儿服务平台"> </a> </h1>
      <ul class="header-nav-links clearfix J_main-nav-links header-nav-links-main">
        <li class="header-nav-links-item links-is-profession "> <a class="header-nav-text"> <span>全部导航 <i class="header-nav-angle"></i> </span> </a>
          <div class="header-nav-sub-links header-nav-profession clearfix">
            <div class="center-ctrl">
              <ul class="sub-links-ul">
                <li> <a title="什么是试管婴儿" href="#/baike/1076.html" target="_blank">  <img class="title-icon title-icon-normal" src="__INDEX__/static/xyw/images/ion.png"> <img class="title-icon title-icon-hover" src="__INDEX__/static/xyw/images/ion.png"> <span class="sub-links-txt">名词释义</span>  </a>
                  <div class="header-nav-sub-links1"> 
				  <a title="第二代试管婴儿" href="#/baike/904.html" target="_blank">二代试管</a> 
				   <a title="铁蛋白是什么" href="#/baike/3689.html" target="_blank">铁蛋白</a>
				   <a title="第三代试管婴儿" href="#/baike/906.html" class="is-highlight" target="_blank">三代试管</a> 
				  <a title="高龄试管婴儿" href="#/baike/5596.html" target="_blank">大龄怀孕</a>
				   
				   <a title="甘胆酸（CG）" href="#/baike/3760.html" class="is-highlight" target="_blank">甘胆酸</a>
				  
				  <a title="染色体是什么" href="#/baike/3781.html" target="_blank">染色体</a> 
				  <a title="什么是精氨酸" href="#/baike/3708.html" target="_blank">精氨酸</a> 
				 <a title="雌二醇(E2)" href="#/baike/3238.html" class="is-highlight" target="_blank">雌二醇</a>
				  <a title="TRF" href="#/baike/3695.html" target="_blank">转铁蛋白</a>
				  
				  <a title="HSV" href="#/baike/3606.html" target="_blank">单纯疱疹病毒</a> 
				 <a title="第一代试管婴儿" href="#/baike/826.html" target="_blank">第一代试管</a> 
				  <a href="#/baike/3702.html" target="_blank">弓形虫</a> 
				  <a title="血尿素氮(BUN)" href="#/baike/3753.html" target="_blank">血尿素氮</a>
				  <a title="WBC" href="#/baike/3474.html" target="_blank">白细胞</a> 
				  <a title="试管胚胎等级" href="#/baike/3927.html" target="_blank">胚胎等级</a>
				  
				  <a href="#/baike/3685.html" target="_blank" class="is-highlight">梅毒抗体</a> 
				  
				  <a title="RBC" href="#/baike/3489.html" target="_blank" class="en">红细胞</a> 
				  <a title="月经提前是什么原因" href="#/baike/3924.html" target="_blank">月经提前</a>
				  <a title="第四代试管婴儿" href="#/baike/907.html" target="_blank">四代试管</a> 
				  <a title="供卵试管婴儿" href="#/baike/5597.html" target="_blank">供卵试管</a>
				  <a title="甲胎蛋白(AFP)" href="#/baike/3756.html" target="_blank">甲胎蛋白</a> 
				  <a title="RAN" href="#/baike/3581.html" target="_blank" class="en">风疹病毒</a> 
				  <a title="前白蛋白是什么" href="#/baike/3696.html" target="_blank">前白蛋白</a> 
				  <a href="#/baike/1048.html" target="_blank">睾丸异常</a> 
				  </div>
                </li>
                <li> <a title="试管婴儿具体过程" href="#/news/5536.html" target="_blank"> <img class="title-icon title-icon-normal" src="__INDEX__/static/xyw/images/ion.png"> <img class="title-icon title-icon-hover" src="__INDEX__/static/xyw/images/ion.png"> <span class="sub-links-txt">试管过程</span> </a>
                  <div class="header-nav-sub-links1"> 
				  <a title="促排卵的流程" href="#/baike/5484.html" class="is-highlight" target="_blank">促排卵</a> 
				  <a title="试管婴儿胚胎移植" href="#/baike/931.html" target="_blank">胚胎移植</a> 
				  <a title="人工取卵流程" href="#/baike/961.html" class="is-highlight" target="_blank">取卵</a> 
				  
				  <a title="促排卵针怎么打" href="#/baike/5485.html" target="_blank">促排卵针</a> 
				  <a title="试管婴儿自然周期" href="#/baike/4471.html" target="_blank">自然周期</a> 
				  <a title="黄体期方案" href="#/baike/4465.html" target="_blank">黄体期</a>
				  
				  
				  
				  <a title="试管长方案" href="#/baike/4452.html" target="_blank">长方案</a> 
				  
				  <a title="试管婴儿短方案" href="#/baike/4442.html" target="_blank">短方案</a> 
				  <a title="微刺激方案" href="#/baike/964.html" target="_blank">微刺激</a> 
				  <a title="拮抗剂方案" href="#/baike/959.html" target="_blank">拮抗剂</a> 
				  
				  <a title="黄体素不足的症状" href="#/baike/913.html" target="_blank">黄体素</a>
				  <a title="nk细胞是什么" href="#/baike/915.html" target="_blank"><em class="en">nk</em>细胞</a>
				  <a title="总胆汁酸偏高原因" href="#/baike/1125.html" class="is-highlight" target="_blank">总胆汁酸</a> 
				  <a title="试管降调有什么用" href="#/baike/963.html" class="is-highlight" target="_blank">降调</a> 
				   <a title="试管婴儿鲜胚移植" href="#/baike/3904.html" target="_blank">鲜胚</a> 
				  <a title="睾酮高怎么办" href="#/baike/1140.html" target="_blank">睾酮高</a> 
				  <a title="试管婴儿冻胚移植" href="#/baike/3908.html" class="is-highlight" target="_blank">冻胚移植</a>
				  
				  <a title="泌乳素高的原因" href="#/baike/920.html" target="_blank">泌乳素</a>
				  <a title="什么是纵隔子宫" href="#/baike/1122.html" class="is-highlight" target="_blank">纵隔子宫</a>
				  
				  <a title="试管婴儿囊胚移植" href="#/baike/3899.html" target="_blank">囊胚</a> 
				  <a title="黄体期是什么时候" href="#/baike/933.html" target="_blank">黄体期</a> 
				  
				  <a title="卵泡监测什么时候最佳" href="#/baike/966.html" class="is-highlight" target="_blank">卵泡监测</a>  
				  <a title="克龄蒙能长期吃吗" href="#/baike/918.html" target="_blank">克龄蒙</a> 
				  <a title="试管婴儿超长方案" href="#/baike/4458.html" class="is-highlight" target="_blank">超长方案</a> 
				  
				  
				  </div>
                </li>
                <li> <a title="试管移植成功经验" href="#/ask/baby/" target="_blank"> <img class="title-icon title-icon-normal" src="__INDEX__/static/xyw/images/ion.png"> <img class="title-icon title-icon-hover" src="__INDEX__/static/xyw/images/ion.png"> <span class="sub-links-txt">经验分享</span> </a>
                  <div class="header-nav-sub-links1"> 
				  <a title="生化汤怎么做" href="#/baike/4035.html" class="is-highlight" target="_blank">生化汤</a> 
				  <a title="试管婴儿医院排行榜" href="#/baike/1081.html" target="_blank">排行榜</a> 
				  <a title="什么是排卵障碍" href="#/baike/4822.html" class="is-highlight" target="_blank">排卵障碍</a>
				  <a title="怎么生双胞胎" href="#/baike/977.html" class="is-highlight" target="_blank">双胞胎</a> 
				  <a title="滑脉是什么意思" href="#/baike/1137.html" target="_blank">滑脉</a> 
				  <a title="排卵试纸强阳后多久排卵" href="#/baike/975.html" target="_blank">排卵试纸强阳</a>
				  
				  <a title="宫腔分离是什么" href="#/baike/1008.html" target="_blank" class="en">宫腔分离</a> 
				  <a title="爱乐维复合维生素片" href="#/baike/970.html" target="_blank">爱乐维</a> 
				  <a title="hcg正常值是多少" href="#/baike/979.html" class="is-highlight" target="_blank"><em class="en">hcg</em>正常值</a> 
				  
				  <a title="雌激素低怎么办" href="#/baike/981.html" target="_blank">雌激素低</a> 
				  <a title="安美奇dhea" href="#/baike/973.html" class="is-highlight" target="_blank">安美奇</a> 
				  <a title="孕前检查做哪些" href="#/baike/4000.html" target="_blank">孕前检查</a>
				  
				  <a title="雪诺同" href="#/baike/985.html" target="_blank">雪诺</a> 
				  <a title="肌醇是什么" href="#/baike/987.html" target="_blank">肌醇</a>
				  <a title="tct检查结果有几种" href="#/news/988.html" class="is-highlight" target="_blank"><em class="en">tct</em>检查结果</a> 
				   
				  <a title="多胎妊娠怎么办" href="#/baike/1006.html" target="_blank">多胎妊娠</a> 
				  <a title="性激素六项检查" href="#/baike/1147.html" class="is-highlight" target="_blank">性激素六项</a> 
				  <a title="精液常规检查项目及结果介绍" href="#/baike/992.html" target="_blank">精液常规检查</a> 
				  
				  <a title="清宫手术多少钱" href="#/baike/994.html" target="_blank">清宫手术</a> 
				  <a title="如何准确计算排卵日" href="#/baike/996.html" target="_blank">排卵期</a> 
				  <a title="排卵期出血什么症状" href="#/baike/998.html" target="_blank">排卵期出血</a> 
				  
				  <a title="胚胎停育的原因有哪些" href="#/baike/1000.html" target="_blank">胚胎停育</a>
				  <a title="胎盘低置怎么办" href="#/baike/1002.html" target="_blank">胎盘低置</a> 
				  <a title="多囊会有优势卵泡吗" href="#/baike/1004.html" target="_blank">优势卵泡</a>
				  </div>
                </li>
                <li> <a title="试管婴儿十万个为什么" href="#/ask/" target="_blank"> <img class="title-icon title-icon-normal" src="__INDEX__/static/xyw/images/ion.png"> <img class="title-icon title-icon-hover" src="__INDEX__/static/xyw/images/ion.png"> <span class="sub-links-txt">互助问答</span> </a>
                  <div class="header-nav-sub-links1"> 
				  
				    
				  <a title="怀孕多久会有反应" href="#/baike/972.html" target="_blank">早孕反应</a> 
				  <a title="验孕棒一深一浅" href="#/baike/976.html" target="_blank">验孕棒</a>
				  <a title="早早孕试纸多久能测出来" href="#/baike/978.html" target="_blank">早早孕试纸</a>
				  <a title="宫腔镜检查" href="#/baike/4896.html" target="_blank">宫腔镜</a>
				  <a title="孕酮低的原因" href="#/baike/980.html" target="_blank">孕酮低</a>
				  <a title="子宫内膜厚度多少正常" href="#/baike/982.html" target="_blank">子宫内膜厚度</a> 
				  
				   
				  <a title="生化妊娠是什么" href="#/baike/984.html" target="_blank">生化妊娠</a>
				  <a title="胎梦大全" href="#/baike/986.html" target="_blank">胎梦</a> 
				  <a title="血型遗传规律表准不准" href="#/baike/989.html" target="_blank">血型遗传规律</a> 
				  
				  
				  <a title="妈富隆" href="#/baike/991.html" target="_blank">妈富隆</a>
				  <a title="润康副作用" href="#/baike/993.html" target="_blank">润康</a>
				  <a title="输卵管造影术检查过程" href="#/baike/995.html" class="is-highlight" target="_blank">输卵管造影</a>
				  
				  
				  <a title="人工受孕多少钱" href="#/baike/997.html" target="_blank">人工受孕</a> 
				  <a title="AMH0.45做试管婴儿成功率高吗？" href="#/news/5637.html" class="is-highlight" target="_blank">AMH低</a>
				  <a title="唐筛" href="#/baike/1015.html" target="_blank">唐氏综合症</a> 
				  
				  <a title="羊水穿刺检查" href="#/baike/1013.html" target="_blank">羊水穿刺</a>
				  <a title="子宫壁薄怎么办" href="#/baike/999.html" target="_blank">子宫壁薄</a> 
				  <a title="孕囊看男女准吗" href="#/baike/1003.html" target="_blank">孕囊看男女</a> 
				  
				  <a title="多囊卵巢综合症" href="#/baike/1005.html" target="_blank">多囊卵巢</a> 
				  <a title="地中海贫血症状" href="#/baike/1011.html" class="is-highlight" target="_blank">地中海贫血</a>
				  <a title="胎盘成熟度几级才能生" href="#/baike/1007.html" target="_blank">胎盘成熟度</a>  
				  
				  <a title="子宫腺肌症怎么治疗" href="#/baike/1009.html" target="_blank">子宫腺肌症</a> 
				  <a title="巧克力囊肿严重吗" href="#/baike/1001.html" class="is-highlight" target="_blank">巧克力囊肿</a>
				  <a title="黄体酮胶囊" href="#/baike/4683.html" target="_blank">黄体酮</a> 
				  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
		<li class="header-nav-links-item"> <a href="#/baike/" target="_blank" class="header-nav-text"> <span>好孕百科</span> </a> </li>
        <li class="header-nav-links-item"> <a href="https://ask.icheruby.com/" target="_blank" class="header-nav-text"> <span>互助问答</span> </a> </li>
        <li class="header-nav-links-item"> <a href="#/news/" target="_blank" class="header-nav-text"> <span>相因智汇</span> </a> </li>
      </ul>
      <ul class="header-nav-links  header-nav-links-other clearfix">
        <li class="header-nav-links-item"> <a href="https://thailand.icheruby.com/" target="_blank" class="header-nav-text"> <span>泰国试管婴儿</span> </a> </li>
        <li class="header-nav-links-item"> <a href="#/america.html" target="_blank" class="header-nav-text"> <span>美国试管婴儿</span> </a> </li>
        <li class="header-nav-links-item"> <a href="#/cambodia.html" target="_blank" class="header-nav-text"> <span>柬埔寨试管婴儿</span> </a> </li>
        <li class="header-nav-links-item"> <a href="#/russia.html" target="_blank" class="header-nav-text"> <span>俄罗斯试管婴儿</span> </a> </li>
        <li class="header-nav-links-item"> <a href="#/home/cherub.html" target="_blank" class="header-nav-text" rel="nofollow"> <span>小天使公益</span> </a> </li>
      </ul>
    </div>
  </div>
</div>





