<div class="bz-header">
  <div class="bz-header__www" style="display: none;">
  <div class="bz-header__www-tips">
    <div class="bz-header__www-tips__right">
      <div class="bz-search">
        <em class="icon-search"></em>
        <input style="margin: 1px 0 0 30px; height: 14px; line-height: 14px;" class="input-search" type="text" placeholder="排卵试纸，孕酮HCG，试管">
        <a data-action="search" href="javascript:;">搜索</a>
        <ul data-action="search-dialog" class="search-dialog nav-transition" style="">
          <li data-mod="forum" id="JS_search_mirror_topic">
            <span>找“</span>
            <span class="JS_search_mirror">sdf</span>”相关帖子
          </li>
          <li data-mod="user" id="JS_search_mirror_user">
            <span>找“</span>
            <span class="JS_search_mirror">sdf</span>”相关用户
          </li>
        </ul>
      </div>
      <!--已登录-->
      <div class="g_hd_logined nav-user-info nav-logined nav-transition">
        <!--默认用户信息-->
        <div class="g_hd_info" data-title="用户信息下拉">
          <a href="javascript:;" class="g_par">获取中<i>&nbsp;</i></a>
        </div>
        <div class="g_hd_info" data-title="设置菜单下拉">
          <a href="javascript:;" class="g_par" title="设置">
            <em class="g_par_icon1">&nbsp;</em><i>&nbsp;</i>
          </a>
        </div>
        <div class="g_hd_info">
            <a href="//riji.bozhong.com/home.php?mod=space&amp;do=pm" class="g_par" rel="nofollow" title="消息" data-follow="顶部导航/点击消息">
                <em class="g_par_icon2">&nbsp;</em>
            </a>
        </div>
        <div class="g_hd_info">
            <a href="//riji.bozhong.com/home.php?mod=space&amp;do=notice" class="g_par" rel="nofollow" title="提醒" data-follow="顶部导航/点击提醒">
                <em class="g_par_icon3">&nbsp;</em>
            </a>
        </div>
        <!--浏览记录-->
        <div class="g_hd_info g_hd_history" data-title="最新浏览">
            <a href="javascript:;" class="g_par" title="最近浏览">最近浏览<i>&nbsp;</i></a>
        </div>
        <!--/默认用户信息-->
      </div>
      <!--/已登录-->
      <div class="nav-unlogin g-notlogin">
        <a class="btn-login" data-action="signin" href="javascript:void(0);">登录</a>
        <a class="btn-registry" href="//account.bozhong.com/register/index">注册</a>
        <a class="btn-registry-2" href="//account.bozhong.com/register/index"></a>
      </div>
    </div>
    <img class="bz-logo" src="//scdn.bozhong.com/source/common/img/2020/logo-whole.svg" alt="bozhong logo1">
  </div>
  <div class="bz-header__www-nav">
    <div class="nav-aside--title">社区·服务·工具</div>
    <ul class="nav-ul">
      <li>
        <a target="_blank" class="nav-item" href="//crazy.bozhong.com">疯狂造人APP</a>
      </li>
      <li>
        <a target="_blank" class="nav-item" href="//m.bozhong.com/ivf/app/5?from=pcforum">试管婴儿APP</a>
      </li>
      <li>
        <a target="_blank" class="nav-item" href="//www.bozhong.com/app/yunji">孕迹暖暖APP</a>
      </li>
      <li class="mp-nav">
        <a class="nav-item" href="javascript:void(0);">公众号</a>
        <div class="mp">
        <p class="mp--title">微信扫描二维码，了解更多详细内容</p>
        <ul class="mp__container">
          <li>
          <img class="mp-qrcode" src="//scdn.bozhong.com/source/common/img/qrcode/qrcode-bozhongwang.jpg" alt="">
          <div class="mp-text">
            <p class="mp-text--title">播种网</p>
            <p class="mp-text--desc">备孕和怀孕<br>知识、经验</p>
          </div>
          </li>
          <li>
          <img class="mp-qrcode" src="//scdn.bozhong.com/source/common/img/qrcode/qrcode-kafendasao.jpg" alt="">
          <div class="mp-text">
            <p class="mp-text--title">卡粉大嫂</p>
            <p class="mp-text--desc">家庭干货组组长<br>幸福生活加油姬</p>
          </div>
          </li>
          <li>
          <img class="mp-qrcode" src="//scdn.bozhong.com/source/common/img/qrcode/qrcode-xiaoguan.jpg" alt="">
          <div class="mp-text">
            <p class="mp-text--title" style="color: #3EB8F7;">播种小管</p>
            <p class="mp-text--desc">试管婴儿app<br>官方公众号</p>
          </div>
          </li>
          <li>
          <img class="mp-qrcode" src="//scdn.bozhong.com/source/common/img/qrcode/qrcode-xiangjiaobao.jpg" alt="">
          <div class="mp-text">
            <p class="mp-text--title">香蕉报</p>
            <p class="mp-text--desc">简单好用的<br>造人助手</p>
          </div>
          </li>
        </ul>
        </div>
      </li>
      <li class="school-nav">
        <a class="nav-item" href="javascript:;">播种学园</a>
        <div class="school">
          <div class="school-tips">微信扫描二维码</div>
          <img class="school-qrcode" src="//scdn.bozhong.com/source/common/img/qrcode/qrcode-bzschool.jpg" alt="">
          <div class="school-text">
            <p class="school-text--title">播种学园</p>
            <p class="school-text--desc">干货微信群聊<br>姐妹互相学习</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  </div>
  <div class="bz-header__common" style="display: block;">
  <div class="bz-header__common-tips">
    <div class="tips-container">
    <em class="bozhong-title">要孩子，上播种网</em>
    <div class="bz-header__common-nav">
      <ul class="nav-ul">
        <li>
          <a target="_blank" href="//crazy.bozhong.com/">疯狂造人APP</a>
        </li>
        <li>
          <a target="_blank" href="//m.bozhong.com/ivf/app/5?from=pcforum">试管婴儿APP</a>
        </li>
        <li>
          <a target="_blank" href="//www.bozhong.com/app/yunji">孕迹暖暖APP</a>
        </li>
        <li class="mp-nav">
          <a href="javascript:void(0);">公众号</a>
          <div class="mp">
          <p class="mp--title">微信扫描二维码，了解更多详细内容</p>
          <ul class="mp__container">
            <li>
            <img class="mp-qrcode" src="//scdn.bozhong.com/source/common/img/qrcode/qrcode-bozhongwang.jpg" alt="">
            <div class="mp-text">
              <p class="mp-text--title">播种网</p>
              <p class="mp-text--desc">备孕和怀孕<br>知识、经验</p>
            </div>
            </li>
            <li>
            <img class="mp-qrcode" src="//scdn.bozhong.com/source/common/img/qrcode/qrcode-kafendasao.jpg" alt="">
            <div class="mp-text">
              <p class="mp-text--title">卡粉大嫂</p>
              <p class="mp-text--desc">家庭干货组组长<br>幸福生活加油姬</p>
            </div>
            </li>
            <li>
            <img class="mp-qrcode" src="//scdn.bozhong.com/source/common/img/qrcode/qrcode-xiaoguan.jpg" alt="">
            <div class="mp-text">
              <p class="mp-text--title" style="color: #3EB8F7;">播种小管</p>
              <p class="mp-text--desc">试管婴儿app<br>官方公众号</p>
            </div>
            </li>
            <li>
            <img class="mp-qrcode" src="//scdn.bozhong.com/source/common/img/qrcode/qrcode-xiangjiaobao.jpg" alt="">
            <div class="mp-text">
              <p class="mp-text--title">香蕉报</p>
              <p class="mp-text--desc">简单好用的<br>造人助手</p>
            </div>
            </li>
          </ul>
          </div>
        </li>
        <li class="school-nav">
          <a class="nav-item" href="javascript:;">播种学园</a>
          <div class="school">
            <div class="school-tips">微信扫描二维码</div>
            <img class="school-qrcode" src="//scdn.bozhong.com/source/common/img/qrcode/qrcode-bzschool.jpg" alt="">
            <div class="school-text">
              <p class="school-text--title">播种学园</p>
              <p class="school-text--desc">干货微信群聊<br>姐妹互相学习</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    </div>
  </div>
  <div class="bz-header__common-content">
    <div class="content-container">
    <a target="_blank" href="//www.bozhong.com">
   		<span style="position: absolute;top: 22px;left: 116px;font-size: 12px;line-height: 14px;letter-spacing: 2px;color: #999999;">首页</span>
      <img class="bz-logo2" src="//scdn.bozhong.com/source/common/img/2020/logo.png" alt="bozhong logo">
    </a>
        <ul data-action="tabs" class="nav-ul2">
      <!-- 优生备孕 -->
      <li data-action="tabs-li">
      <div class="nav-name">优生备孕</div>
      <div class="sort-tabs sort-tabs__fkzr" data-aside-table="">
                <div class="sort-tabs__left" style="margin-right: 30px;">
        
        <div class="sort-tabs__block-tips blineb">
          <p>社区</p>
          <a target="_blank" href="//bbs.bozhong.com/">备孕群组<span>&gt;</span></a>
        </div>
        <div class="sort-tabs__block-content">
          <a target="_blank" href="//bbs.bozhong.com/forum-24-1.html">想要宝宝</a>
          <a target="_blank" href="//bbs.bozhong.com/forum-2258-1.html">升级论文</a>
          <a target="_blank" href="//bbs.bozhong.com/forum-2301-1.html">非妈助孕8法</a>
          <a target="_blank" href="//bbs.bozhong.com/forum-2338-1.html">常常妈妈大讲堂</a>
          <a target="_blank" href="//bbs.bozhong.com/forum-2151-1.html">盖楼许愿</a>
        </div>
        <div class="sort-tabs__block-tips blineb">
          <p>疑难专区</p>
          <a target="_blank" href="//bbs.bozhong.com/">疑难群组<span>&gt;</span></a>
        </div>
        <div class="sort-tabs__block-content">
          <a target="_blank" href="//bbs.bozhong.com/forum-2309-1.html">备孕心路</a>
          <a target="_blank" href="//bbs.bozhong.com/forum-2249-1.html">中医备孕</a>
          <a target="_blank" href="//bbs.bozhong.com/forum-2222-1.html">子宫问题</a>
          <a target="_blank" href="//bbs.bozhong.com/forum-1927-1.html">多囊卵巢</a>
          <a target="_blank" href="//bbs.bozhong.com/forum-1930-1.html">输卵管</a>
          <a target="_blank" href="//bbs.bozhong.com/forum-1933-1.html">月经不调</a>
          <a target="_blank" href="//bbs.bozhong.com/forum-1932-1.html">精子质量</a>
          <a target="_blank" href="//bbs.bozhong.com/forum-2329-1.html">内异巧囊</a>
          <a target="_blank" href="//bbs.bozhong.com/forum-2330-1.html">卵巢问题</a>
          <a target="_blank" href="//bbs.bozhong.com/forum-2328-1.html">宫外孕</a>
          <a target="_blank" href="//bbs.bozhong.com/forum-1934-1.html">人工授精</a>
          <a target="_blank" href="//bbs.bozhong.com/forum-1931-1.html">流产再战</a>
          <a target="_blank" href="//bbs.bozhong.com/forum-1928-1.html">胎停再战</a>
          <a target="_blank" href="//bbs.bozhong.com/forum-2331-1.html">内分泌</a>
        </div>
        <div class="sort-tabs__block-tips blineb">
          <p>实用小工具</p>
          <a target="_blank" href="//www.bozhong.com/tools-bless.html">百宝箱<span>&gt;</span></a>
        </div>
        <div class="sort-tabs__block-content">
          <a target="_blank" href="//www.bozhong.com/tools-ovulatory.html">排卵期自测</a>
          <a target="_blank" href="//www.bozhong.com/tools/songzimiao.htm">送子灵庙</a>
          <a target="_blank" href="//bbs.bozhong.com/beiyun/">备孕大攻略</a>
        </div>
        <div class="sort-tabs__pinpai">
          <div class="sort-qrcode">
            <img class="sort-qrcode--img" src="//scdn.bozhong.com/source/common/img/qrcode/qrcode-fkzr.png" alt="">
            <p class="sort-qrcode--text">微信扫描二维码</p>
          </div>
          <div class="sort-brand">
            <img class="sort-logo" src="//scdn.bozhong.com/source/common/img/logo/logo-fkzr.png" alt="">
            <div class="sort-brand__info">
              <p class="sort-brand__info-name">疯狂造人APP</p>
              <p class="sort-brand__info-slogan">千万姐妹一起备孕</p>
            </div>
          </div>
        </div>
        </div>
      </div>
      </li>
            <!-- 试管婴儿 -->
      <li data-action="tabs-li">
      <div class="nav-name">试管婴儿</div>
      <div class="sort-tabs sort-tabs__shiguan">
                <div class="sort-tabs__left" style="margin-right: 30px;">
        <div class="sort-tabs__block-tips blineb">
          <p>社区</p>
          <a target="_blank" href="//www.bozhong.com/ivf">试管群组<span>&gt;</span></a>
        </div>
        <div class="sort-tabs__block-content">
          <a target="_blank" href="//www.bozhong.com/ivf">试管检查</a>
          <a target="_blank" href="//www.bozhong.com/ivf">试管方案</a>
          <a target="_blank" href="//www.bozhong.com/ivf">降调促调</a>
          <a target="_blank" href="//www.bozhong.com/ivf">精子问题</a>
          <a target="_blank" href="//www.bozhong.com/ivf">卵子问题</a>
          <a target="_blank" href="//www.bozhong.com/ivf">子宫问题</a>
        </div>
        <div class="sort-tabs__block-tips blineb">
          <p>医院大全</p>
          <a target="_blank" href="//bbs.bozhong.com/hospital/">全部<span>&gt;</span></a>
        </div>
        <div class="sort-tabs__block-content">
          <a target="_blank" href="//bbs.bozhong.com/hospital/">三级甲等</a>
          <a target="_blank" href="//bbs.bozhong.com/hospital/">医院直营</a>
          <a target="_blank" href="//bbs.bozhong.com/hospital/">三方服务</a>
          <a target="_blank" href="//bbs.bozhong.com/hospital/">港澳台地区</a>
          <a target="_blank" href="//bbs.bozhong.com/hospital/">高端民营</a>
          <a target="_blank" href="//bbs.bozhong.com/hospital/">中外合资</a>
        </div>
        <div class="sort-tabs__block-tips blineb">
          <p>生殖中心人气榜</p>
          <a href="javascript:void(0);">全部排行榜<span>&gt;</span>
            <div class="view-all">
              <img src="//scdn.bozhong.com/source/common/img/qrcode/weapp-shiguanshengzhizhongxin.jpg" alt="">
              <p>扫描二维码<br>查看全部排行</p>
            </div>
          </a>
        </div>
        <div class="sort-tabs__block-content">
          <a target="_blank" href="//bbs.bozhong.com/hospital/4218">中信湘雅</a>
          <a target="_blank" href="//bbs.bozhong.com/hospital/59">北医三院</a>
          <a target="_blank" href="//bbs.bozhong.com/hospital/746">山大辅助生殖</a>
          <a target="_blank" href="//bbs.bozhong.com/hospital/988">重庆市妇幼</a>
          <a target="_blank" href="//bbs.bozhong.com/hospital/320">郑州大学第一附属</a>
          <a target="_blank" href="//bbs.bozhong.com/hospital/4291">美中宜和生殖中心</a>
        </div>
        <div class="sort-tabs__block-tips blineb">
          <p>服务预约</p>
          <a target="_blank" href="//www.bozhong.com/ivf/service/">更多服务<span>&gt;</span></a>
        </div>
        <div class="sort-tabs__block-content">
          <a target="_blank" href="//www.bozhong.com/ivf/service/detail/5edf5993306462004400004b">河南省妇幼</a>
          <a target="_blank" href="//www.bozhong.com/ivf/service/detail/5ee082bc306462005f00001a">中山六院</a>
          <a target="_blank" href="//www.bozhong.com/ivf/service/detail/5afbd5a9a3c3b121258b4578">成都西囡妇科</a>
          <a target="_blank" href="//www.bozhong.com/ivf/service/detail/5c8f327ea3c3b15f298b4570">北京家恩德运</a>
          <a target="_blank" href="//www.bozhong.com/ivf/service/detail/5e9e8b3ba3c3b1af6c8b4567">美中宜和生殖中心</a>
        </div>
        <div class="sort-tabs__pinpai">
          <div class="sort-qrcode">
            <img class="sort-qrcode--img" src="//scdn.bozhong.com/source/common/img/qrcode/qrcode-shiguan.jpg" alt="">
            <p class="sort-qrcode--text">微信扫描二维码</p>
          </div>
          <div class="sort-brand">
            <img class="sort-logo" src="//scdn.bozhong.com/source/common/img/logo/logo-shiguan.png" alt="">
            <div class="sort-brand__info">
              <p class="sort-brand__info-name sort-brand__info-name--shiguan">试管婴儿APP</p>
              <p class="sort-brand__info-slogan">90%试管姐妹和医生都在使用</p>
            </div>
          </div>
        </div>
        </div>
      </div>
      </li>
                  <!-- 怀孕育儿 -->
      <li data-action="tabs-li"> 
      <div class="nav-name">怀孕育儿</div>
      <div class="sort-tabs sort-tabs__yunji">
                <div class="sort-tabs__left" style="margin-right: 30px;">
          <div class="sort-tabs__block-tips blineb">
            <p>孕期社区</p>
            <a target="_blank" href="//bbs.bozhong.com/">孕期群组<span>&gt;</span></a>
          </div>
          <div class="sort-tabs__block-content">
            <a target="_blank" href="//bbs.bozhong.com/forum-25-1.html">怀上宝宝</a>
            <a target="_blank" href="//bbs.bozhong.com/forum-2191-1.html">建卡产检</a>
            <a target="_blank" href="//bbs.bozhong.com/forum-2152-1.html">待产包</a>
            <a target="_blank" href="//bbs.bozhong.com/forum-2158-1.html">坐月子</a>
            <a target="_blank" href="//bbs.bozhong.com/forum-1971-1.html">胎教</a>
            <a target="_blank" href="//bbs.bozhong.com/forum-2150-1.html">生男生女</a>
            <a target="_blank" href="//bbs.bozhong.com/forum-2156-1.html">孕酮HCG</a>
          </div>
          <div class="sort-tabs__block-tips blineb">
            <p>育儿社区</p>
            <a target="_blank" href="//bbs.bozhong.com/">育儿群组<span>&gt;</span></a>
          </div>
          <div class="sort-tabs__block-content">
            <a target="_blank" href="//bbs.bozhong.com/forum-26-1.html">小宝宝（0-1岁）</a>
            <a target="_blank" href="//bbs.bozhong.com/forum-21-1.html">大宝宝（1-3岁）</a>
            <a target="_blank" href="//bbs.bozhong.com/forum-2195-1.html">大宝宝（3-6岁）</a>
            <a target="_blank" href="//bbs.bozhong.com/forum-2164-1.html">宝宝喂养</a>
            <a target="_blank" href="//bbs.bozhong.com/forum-2165-1.html">宝宝生病</a>
          </div>
          <div class="sort-tabs__block-tips blineb">
            <p>问答攻略</p>
          </div>
          <div class="sort-tabs__block-content">
            <a target="_blank" href="//www.bozhong.com/food/">孕期饮食</a>
            <a target="_blank" href="//www.bozhong.com/qa/">孕育专题</a>
          </div>
          <div class="sort-tabs__block-tips blineb">
            <p>精选服务</p>
          </div>
          <div class="sort-tabs__block-content">
            <a target="_blank" href="//www.bozhong.com/zuoyuezi/service/#/">坐月子</a>
          </div>
          <div class="sort-tabs__pinpai">
            <div class="sort-qrcode">
              <img class="sort-qrcode--img" src="//scdn.bozhong.com/source/common/img/qrcode/qrcode-yunji.jpg" alt="">
              <p class="sort-qrcode--text">微信扫描二维码</p>
            </div>
            <div class="sort-brand">
              <img class="sort-logo" src="//scdn.bozhong.com/source/common/img/logo/logo-yunji.png" alt="">
              <div class="sort-brand__info">
                <p class="sort-brand__info-name">孕迹暖暖APP</p>
                <p class="sort-brand__info-slogan">呵护孕育每一天</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </li>
      <li>
      <a class="nav-name" target="_blank" href="//huodong.bozhong.com/shiyong/?from=topnav">大牌福利</a>
      </li>
      <li>
      <a class="nav-name" target="_blank" href="https://www.bozhong.com/activities/">精彩活动</a>
      </li>
    </ul>
    
    <div class="content-container__right">
      <div data-action="show-search-box" class="btn-search" style="width: 25px; overflow: hidden;">
        <em class="btn-search--icon"></em>
        <div class="btn-search__slider-box" style="right: -341px;">
          <div class="bz-search">
            <em class="icon-search"></em>
            <input style="margin: 1px 0 0 30px; height: 14px; line-height: 14px;" class="input-search" type="text" placeholder="排卵试纸，孕酮HCG，试管">
            <a data-action="search" data-position="2" href="javascript:;">搜索</a>
            <ul data-action="search-dialog" class="search-dialog nav-transition">
              <li data-mod="forum" id="JS_search_mirror_topic">
                <span>找“</span>
                <span class="JS_search_mirror">sdf</span>”相关帖子
              </li>
              <li data-mod="user" id="JS_search_mirror_user">
                <span>找“</span>
                <span class="JS_search_mirror">sdf</span>”相关用户
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--已登录-->
      <div class="g_hd_logined nav-user-info nav-logined nav-transition">
        <!--默认用户信息-->
        <div class="g_hd_info" data-title="用户信息下拉">
            <a href="javascript:;" class="g_par">获取中<i>&nbsp;</i></a>
        </div>
        <div class="g_hd_info" data-title="设置菜单下拉">
            <a href="javascript:;" class="g_par" title="设置">
                <em class="g_par_icon1">&nbsp;</em><i>&nbsp;</i>
            </a>
        </div>
        <div class="g_hd_info">
            <a href="//riji.bozhong.com/home.php?mod=space&amp;do=pm" class="g_par" rel="nofollow" title="消息" data-follow="顶部导航/点击消息">
                <em class="g_par_icon2">&nbsp;</em>
            </a>
        </div>
        <div class="g_hd_info">
            <a href="//riji.bozhong.com/home.php?mod=space&amp;do=notice" class="g_par" rel="nofollow" title="提醒" data-follow="顶部导航/点击提醒">
                <em class="g_par_icon3">&nbsp;</em>
            </a>
        </div>
        <!--浏览记录-->
        <div class="g_hd_info g_hd_history" data-title="最新浏览">
            <a href="javascript:;" class="g_par" title="最近浏览">最近浏览<i>&nbsp;</i></a>
        </div>
        <!--/默认用户信息-->
      </div>
      <!--/已登录-->
      <div class="nav-unlogin g-notlogin">
        <a class="btn-login" href="javascript:void(0);" data-action="signin">登录</a>
        <a class="btn-registry" href="//account.bozhong.com/register/index">注册</a>
        <a class="btn-registry-2" href="//account.bozhong.com/register/index"></a>
      </div>
    </div>
    </div>
  </div>
  </div>
  <script>
	  if (!window.isWWW && window.$ && $('.bz-header__common')) {
	  $('.bz-header__common').show();
	  $('.bz-header__www').hide();
	  } else if (window.$ && $('.bz-header__common')) {
	  $('.bz-header__common').hide();
	  $('.bz-header__www').show();
	  }
  </script>
</div>