{extend name="base" /}
{block name="title"}添加首页tags并推送{/block}
{block name="css"}
{__block__}
{/block}
    {block name="right"}
<style type="text/css">
    

.edui-default .edui-editor-iframeholder {
    position: relative;
    min-height: 600px;
}
</style>
        <div class="row J_mainContent" id="content-main" style="overflow-y:auto">
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-4">
                    <h2>首页tags管理</h2>
                    <ol class="breadcrumb">
                        <li>
                            <strong>首页tags管理</strong>
                        </li>
                        <li>
                            添加首页tags
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">

                            <form action="{:url('admin/shouyetags/addhanddle')}"
                            method="post" class="form-horizontal row"
                            enctype="multipart/form-data" id="form1">
                                <div class="col-md-12">



                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">tags添加</label>
                                        <div class="col-sm-8">
                                            <input name="tags_name" class="form-control" placeholder="请输入要推送到首页的tags" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">是否推送到首页</label>
                                        <div class="col-sm-3">
                                            <select class="form-control" name="zhiding">
                                              
                                                <option value="1">是</option>
                                               
                                                <option value="0">否</option>
                                               
                                            </select>
                                        </div>
                                    </div>






                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-3">
                                            <input class="form-control" type="submit" value="添加首页tags推送">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {/block}
    {block name="js"}
    {__block__}
    <script src="__ADMIN__/js/hAdmin.js?v=4.1.0"></script>
    <script src="__ADMIN__/js/plugins/pace/pace.min.js"></script>
    <script src="__ADMIN__/js/plugins/validate/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $().ready(function(){
            $("#form1").validate({
                rules:{
                    name:{
                        required:true,
                        rangelength:[1,10],
                        remote:{
                            url:"{:url('admin/news/checkNameCateAjax')}",
                            type:"post"
                        }
                    },
                },
                messages:{
                    name:{
                        required:"请输入级别名称",
                        rangelength:"名称长度在1-10之间",
                        remote:"该分类已经存在"
                    },
                }
            });
        })
    </script>
    {/block}
